.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;

    width: 100%;
    max-width: 1420px;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.link {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 25px;

    transition: .3s;

    height: fit-content;

    text-decoration: none;

    &:hover {
        background: #F5F5F5;
    }

    &:active {
        background: #EEE;
    }

    &__title {
        color: #06F;
        font-family: Golos UI VF;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    &__description {
        color: #666;
        font-family: Golos UI VF;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}