.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;

    width: 100%;

    max-width: 600px;

    &__first {
        grid-area: first;
    }

    &__second {
        grid-area: second;
    }

    &__email {
        grid-area: email;
    }

    &__password {
        grid-area: password;
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
}

.placeholder {
    color: #252525;
    font-family:
        Golos UI VF,
        sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &__none {
        display: none;
    }
}

.input {
    width: 100%;

    color: #666;
    font-family:
        Golos UI VF,
        sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-right: 30px;

    border: none;
    outline: none;

    border-bottom: 1px solid #b3b3b3;

    transition: 0.3s;

    &:focus {
        border-color: #06f;
    }

    &__bordered {
        padding: 9px 14px;
        padding-right: 33px;

        border-radius: 6px;

        border: 1px solid #b3b3b3;

        &_error {
            border-color: red;
        }
    }

}

.info {
    position: relative;

    &__eye {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        opacity: 0;
        visibility: hidden;

        transition: 0.3s;

        cursor: pointer;

        &__none {
            display: none;
        }

        &_visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

.edit {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background-color: transparent;
    border: none;

    &__none {
        display: none;
    }

    &__svg {
        width: fit-content;
        height: auto;
    }
}