.menu {
    display: flex;
    justify-content: center;
    column-gap: 29px;

    padding: 15px 0;

    width: 100%;
    max-width: 1200px;

    &__link {
        height: fit-content;

        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
        font-feature-settings:
            'pnum' on,
            'lnum' on;

        color: #252525;

        text-decoration: none;

        display: flex;
        align-items: center;
        column-gap: 4px;
    }
}