.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    padding: 20px;

    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.title {
    color: #252525;
    font-family: Golos UI VF;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &__button {
        color: #666;
        font-family: Golos UI VF;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding: 8px 16px;

        border-radius: 5px;
        border: 1px solid #B3B3B3;
        background-color: transparent;

        cursor: pointer;

        transition: .3s;

        box-shadow: 0px 0px 3px 0px transparent;

        &_hover:hover {
            border-color: #4F86EC;
            box-shadow: 0px 0px 3px 0px #4F86EC;
        }

        &_select {
            color: #4F86EC;

            border-color: #4F86EC;
        }

        &_correct {
            color: #46AE44;

            border-color: #46AE44;
        }

        &_incorrect {
            color: #F27D7D;

            border-color: #F27D7D;
        }
    }
}