.wrapper {
    display: flex;
    align-items: center;
    column-gap: 6px;

    &__text {
        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;

        color: #666666;
    }

    &__link {
        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;

        color: #0066FF;

        text-decoration: none;
    }
}