.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.info {
    display: flex;
    column-gap: 23px;

    &__title {
        color: #252525;
        font-family: Golos UI VF;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.list {
    display: flex;
    align-items: center;
    column-gap: 10px;

    &__theme {
        color: #E64F30;
        font-family: Golos UI VF;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        padding: 6px 12px;

        border-radius: 6px;
        background-color: #FDEEEB;
    }
}