.header {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 23px;

    &__title {
        color: #252525;
        font-family: Golos UI VF;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}
