@font-face {
    font-family: 'Golos UI VF';
    src: url('/fonts/GolosUI-Bold.woff2') format('woff2'),
        url('/fonts/GolosUI-Bold.woff') format('woff'),
        url('/fonts/GolosUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('/fonts/SFUIText-Medium.woff2') format('woff2'),
        url('/fonts/SFUIText-Medium.woff') format('woff'),
        url('/fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos UI VF';
    src: url('/fonts/GolosUI-Regular.woff2') format('woff2'),
        url('/fonts/GolosUI-Regular.woff') format('woff'),
        url('/fonts/GolosUI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos UI VF';
    src: url('/fonts/GolosUI-Medium.woff2') format('woff2'),
        url('/fonts/GolosUI-Medium.woff') format('woff'),
        url('/fonts/GolosUI-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('/fonts/SFUIText-Bold.woff2') format('woff2'),
        url('/fonts/SFUIText-Bold.woff') format('woff'),
        url('/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('/fonts/SFUIText-Regular.woff2') format('woff2'),
        url('/fonts/SFUIText-Regular.woff') format('woff'),
        url('/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Regular.woff2') format('woff2'),
        url('/fonts/PTSerif-Regular.woff') format('woff'),
        url('/fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text VF';
    src: url('/fonts/GolosTextVF-Regular.woff2') format('woff2'),
        url('/fonts/GolosTextVF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}