.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 150px;

    width: 100%;
    max-width: 940px;

    margin: 100px auto 0px;

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    &__subtitle {
        color: #06F;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Golos UI VF;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;

        width: 100%;
    }

    &__title {
        color: #252525;
        font-family: Golos Text VF;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        text-align: center;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    width: 100%;

    &__wrapper {
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}