.wrapper {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}

.title {
    color: #252525;
    font-family: PT Serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 50px;

    &__title {
        color: #252525;
        font-family: PT Serif;
        font-size: 128px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__img {
        width: 100%;
        max-width: 221px;
        height: auto;
    }
}

.link {
    margin-top: 40px;

    color: #06F;
    text-align: center;
    font-family: PT Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}