.title {
    font-family: 'Golos UI VF', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #252525;

    &__hidden {
        display: none;
    }
}