.button {
    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;

    &.default {
        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        text-align: center;
        text-decoration-line: underline;

        color: #7c7c7c;
    }

    &.small {
        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 120%;
        text-decoration-line: underline;

        color: #7c7c7c;
    }

    &.large {
        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 120%;

        text-decoration: none;

        color: #ffffff;
    }

    &__outline {
        background-color: #0066ff;

        padding: 12px 22px;

        border-radius: 45px;

        display: flex;
        align-items: center;
        column-gap: 7px;

        color: #ffffff !important;

        text-decoration: none !important;

        border: 1px solid #0066ff;

        transition: .3s;

        &:hover {
            background-color: transparent;

            color: #0066ff !important;

            .button__svg {
                fill: #0066ff;
            }
        }
    }

    &__svg {
        fill: #fff;

        transition: .3s;
    }
}