.wrapper {
    width: 100%;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    row-gap: 70px;
    flex-direction: column;
    align-items: center;

    background-color: #252525;

    padding: 48px 0px;
}

.info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    width: 100%;
    max-width: 1180px;

    &__list {
        display: flex;
        column-gap: 10px;
    }

    &__img {
        width: 35px;
        height: 35px;
    }
}