.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    padding: 30px;

    height: 100%;
}

.title {
    color: #252525;
    font-family:
        Golos UI VF,
        sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &__text {
        font-family:
            Golos UI VF,
            sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &_youtube {
            color: #f26363;
        }

        &_books {
            color: #329c30;
        }

        &_iTunes {
            color: #4f86ec;
        }
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;

    &__button {
        color: #252525;
        font-family:
            Golos UI VF,
            sans-serif;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;

        padding: 7px 16px;

        border-radius: 45px;
        border: 1px solid #666;

        width: fit-content;

        cursor: pointer;

        transition: .2s;

        &:hover {
            color: #fff;
            background-color: #06F;
            border-color: transparent;
        }
    }

    &__access {
        color: #FFF;
        font-family: "Golos UI VF";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        padding: 2px 6px;

        border-radius: 5px;
        background: #06F;
    }
}