.menu {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;

    padding: 15px 0;

    width: 100%;
    // 808 не подходит для авторизованного пользователя
    max-width: 850px;

    &__link {
        height: fit-content;

        font-family: 'Golos UI VF', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;

        color: #ffffff;

        text-decoration: none;
    }
}