.theme {
    color: #06f;
    font-family: Golos Text VF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    width: fit-content;
}
